<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Shoot</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>13 Lens</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>13 Lens</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>2 Lens</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>2 Lens</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>3 Lens</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>3 Lens</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>SE Lens</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>SE Lens</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>X Lens</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>X Lens</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>XR Lens</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>XR Lens</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>Allow access to camera to be able to preview and capture images.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Allow access to photos to save captured photos to your library and preview them in the app.</string>
	<key>Privacy - Camera Usage Description</key>
	<string>APPNAME requires access to your phone’s camera.</string>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string></string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
